[Desktop Entry]
Type=Application
Name=WhirlTube
GenericName=YouTube client
Comment=Lightweight GTK4 frontend for YouTube using mpv and yt-dlp
Exec=whirltube
Icon=whirltube
Terminal=false
Categories=AudioVideo;Video;GTK;
StartupNotify=true
StartupWMClass=org.whirltube.WhirlTube
Keywords=YouTube;Video;MPV;yt-dlp;
DBusActivatable=false