[Desktop Entry]\nType=Application\nName=WhirlTube\nGenericName=YouTube client\nComment=Lightweight GTK4 frontend for YouTube using mpv and yt-dlp\nExec=whirltube\nIcon=whirltube\nTerminal=false\nCategories=AudioVideo;Video;GTK;\nStartupNotify=true\nStartupWMClass=org.whirltube.WhirlTube\nKeywords=YouTube;Video;MPV;yt-dlp;\nDBusActivatable=false